<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Playlist</title>
<link th:href="@{/styles/navigation.css}" rel="stylesheet" />
<link th:href="@{/styles/body.css}" rel="stylesheet" />
	<script>
        function validateForm() {
            var selectedSongs = document.querySelectorAll('input[name="songs"]:checked');
            if (selectedSongs.length ===0 ) {
                alert("Please select at least two songs to create playlist.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
</head>
<body>
	<nav class="navigation-bar">
		<div class="brandName">
			TuneHub | Creator
		</div>
		<div class="navigation-element">
			<a href='/map-home' class="nav-menu">Home</a>
			<a href='/manageSongs' class="nav-menu">Manage Songs</a>
			<a href='/managePlaylists' class="active">Manage Playlists</a>
			<a href="/map-about" class="nav-menu">About</a>
			<a href="/map-account" class="nav-menu">Account</a>
			<a href="/logout"><button class="nav-menu-btn">Logout</button></a>
		</div>
	</nav>
	<div class="main-body">
		<div id="main-body-cover">
			<div class="card-div">
				<h4>Create New playlist</h4>
				<div th:switch="${status}">
					<div th:case="'EmptyList'">
						
						<h4>No Songs Available</h4>
						<a href="/map-addSong"><button class="div-btn">Add Song</button></a>
					</div>
					
					<div  th:case="'createPlaylistSuccess'">
						<h4>Playlist Created Successfully.</h4>
						<a href='/managePlaylists'><button class="div-btn">View Playlists</button></a>
					</div>
					
					<div  th:case="'createPlaylistFailed'">
						<h4>Failed. Playlist name already exist.</h4>
						<a href="/map-createPlaylist"><button class="div-btn">Create Playlist</button></a>
					</div>
					
					<div  th:case="*">
						
						<form action="/createPlaylist" method="post" onsubmit="return validateForm()" id="form">
							<input type="text" name="name" placeholder="Playlist name" required="required" id="text-field"/>
							<br/>
							<span>Select songs to add to the playlist :</span>
							<br/>
							<div class="table-div">
								<div th:each="song : ${songslist}">
									<input type="checkbox" th:name="songs" th:value="${song.id}"/>
									<label  th:text="${song.name}"></label>
								</div>
								
							</div>
							<br/>
							<input type="submit" value="Add Playlist" class="div-btn"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>