<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
<link th:href="@{/styles/navigation.css}" rel="stylesheet" />
<link th:href="@{/styles/body.css}" rel="stylesheet" />
</head>
<body>
	<nav class="navigation-bar">
			<div class="brandName">
				TuneHub
			</div>
			<div class="navigation-element">
				<a href="/map-about" class="nav-menu">About</a>
			</div>
	</nav>
	<div class="main-body">
			<div id="main-body-cover">
				<div class="card-div">
					<h2>Error! something wrong happened</h2>
					<a href="/map-home" ><button class="index-btn">Back to Home</button></a>
				</div>
			</div>
	</div>
</body>
</html>