<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to TuneHub</title>
<link th:href="@{/styles/navigation.css}" rel="stylesheet" />
<link th:href="@{/styles/body.css}" rel="stylesheet" />
</head>
<body>
		<nav class="navigation-bar">
			<div class="brandName">
				TuneHub
			</div>
			<div class="navigation-element">
				<a href="/map-home" class="active">Home</a>
				<a href="/map-about" class="nav-menu">About</a>
			</div>
		</nav>
		<div class="main-body">
			<div id="main-body-cover">
				<div class="view-div">
					<div id="welcome-text">
						Welcome to TuneHub!
						<p id="welcome-note">Experience the rhythm of your life with our immersive music player. Dive into a world of melodies, where every beat tells a story and every note ignites your soul.

Discover new tunes, create playlists that resonate with your mood, and embark on a musical journey like never before. Whether you're a casual listener or a dedicated audiophile,TuneHub has something for everyone.

Let the music play and let your heart dance. Start exploring now!</p>
					</div>
					<div>
						<a href="/map-login" ><button class="index-btn">Login</button></a>
						<a href="/map-register" ><button class="index-btn">Register</button></a>
					</div>
				</div>
			</div>
		</div>
</body>
</html>